Repository micronaut-projects/micronaut-views, pull requests merged in 2021-08, with the labels that each got.

#258 build: bump up to 3.0.0-M5
  build.gradle
  gradle.properties
  test-suite/src/test/java/io/micronaut/views/model/security/MockAuthenticationProvider.java
  test-suite/src/test/java/io/micronaut/views/model/security/UserDetailsEmail.java
Labels: type: dependency-upgrade

#259 doc: fix broken links
  src/main/docs/guide/views.adoc
Labels: type: docs

#262 doc: ViewModelProcessor documentation + cleanup
  src/main/docs/guide/toc.yml
  src/main/docs/guide/views.adoc
  src/main/docs/guide/views/model.adoc
  src/main/docs/guide/views/model/custom.adoc
  src/main/docs/guide/views/security.adoc
  src/main/docs/guide/views/security/csp.adoc
  src/main/docs/guide/views/security/security-model-enhancement.adoc
  src/main/docs/guide/views/templates.adoc
  src/main/docs/guide/views/templates/freemarker.adoc
  src/main/docs/guide/views/templates/pebble.adoc
  src/main/docs/guide/views/templates/rocker.adoc
  src/main/docs/guide/views/templates/soy.adoc
  src/main/docs/guide/views/templates/soy/buildingsoy.adoc
  src/main/docs/guide/views/templates/soy/soyconfiguration.adoc
  src/main/docs/guide/views/templates/soy/soyfeaturesremaining.adoc
  src/main/docs/guide/views/templates/soy/soyfeaturestemplatesecurity.adoc
  src/main/docs/guide/views/templates/soy/soyusage.adoc
  src/main/docs/guide/views/templates/thymeleaf.adoc
  src/main/docs/guide/views/templates/velocity.adoc
  test-suite/src/test/groovy/views/ModelAndViewSpec.groovy
  test-suite/src/test/java/io/micronaut/views/model/ConfigViewModelProcessor.java
  test-suite/src/test/java/io/micronaut/views/model/FruitsController.java
  test-suite/src/test/resources/views/fruits-processor.vm
Labels: type: docs

#263 javadoc: copy changes
  views-core/src/main/java/io/micronaut/views/ViewsConfiguration.java
  views-core/src/main/java/io/micronaut/views/ViewsConfigurationProperties.java
  views-core/src/main/java/io/micronaut/views/ViewsRenderer.java
  views-core/src/main/java/io/micronaut/views/model/security/SecurityViewModelProcessor.java
  views-soy/src/main/java/io/micronaut/views/soy/SoySauceViewsRenderer.java
Labels: type: docs

#266 refactor: reindent soy files with 4 spaces
  views-soy/src/main/java/io/micronaut/views/soy/AppendableToWritable.java
  views-soy/src/main/java/io/micronaut/views/soy/SoyFileSetProvider.java
  views-soy/src/main/java/io/micronaut/views/soy/SoyNamingMapProvider.java
  views-soy/src/main/java/io/micronaut/views/soy/SoySauceViewsRenderer.java
  views-soy/src/main/java/io/micronaut/views/soy/SoyViewsRendererConfiguration.java
  views-soy/src/main/java/io/micronaut/views/soy/SoyViewsRendererConfigurationProperties.java
Labels: relates-to: soy

#274 test: use kotlin sources
  test-suite-kotlin/build.gradle
  test-suite-kotlin/src/test/groovy/io/micronaut/doc/soy/CustomSoyFileSetProvider.groovy
  test-suite-kotlin/src/test/groovy/io/micronaut/doc/soy/SoyController.groovy
  test-suite-kotlin/src/test/groovy/io/micronaut/doc/soy/SoySpec.groovy
Labels: type: improvement

#276 doc: improvements to changes
  src/main/docs/guide/breaks.adoc
Labels: type: docs

#277 Upgrade CI to use JDK16
  .github/workflows/gradle.yml
Labels: relates-to: build
